.container{
    max-width: 1160px;
    margin: 0 auto;
}
/*
Header class zone--------------------------------------
*/
.header_container{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_class{
    background-color: rgba(94, 93, 88, 0.6);
    position: absolute;
    width: 100%;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 58px;
    height: 67px;
}
.logo_txt{
    display: flex;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}
.logo_txt p{
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    color: rgba(24, 207, 171, 1);
}
.header_menu{
    display: flex;
    align-items: center;
}
.header_menu ul{
    display: flex;
    gap: 21px;
}
.header_menu ul li{
    display: flex;
    height: 100%;
    align-items: center;
}
.header_menu ul li a{
    box-sizing: border-box;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    text-decoration:none;
    text-transform: uppercase;
    position: relative;
    color: rgba(255, 255, 255, 0.6);
}
.header_menu ul li a:hover{
    color: rgba(24, 207, 171, 1);
}
.header_menu ul li a:hover::after{
    width: 100%;
    left: 0;
    top: 66px;
    position: absolute;
    content: "";
    border: 1px solid rgba(24, 207, 171, 1);
}
/*
home class zone--------------------------------------
*/
.home_container{
    background-image: url("/images/Layer\ 1\ 5.png");
    height: 1012px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home_txt_content{
    display: flex;
    gap: 22px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 213px;
    padding-bottom: 150px;
}
.home_txt_content h3{
    text-transform: uppercase;
    display: flex;
    gap: 5px;;
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}
.home_txt_content h3 p{
    color: rgba(24, 207, 171, 1);
}
.home_txt_content h2{
    font-family: Montserrat;
    font-size: 78px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}
.home_txt_content p {
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 400;
    color: rgba(212, 212, 212, 1);
}
.home_btns_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
}
.home_btns_container button{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    width: 169px;
    height: 63px;
    border: none;
}
.explore_btn{
    border-radius: 5px;
    box-shadow: 0px -5px 0px 0px rgba(255, 255, 255, 1);
    background-color: rgba(24, 207, 171, 1);
    cursor: pointer;
}
.purchase_btn{
    border-radius: 5px;
    box-shadow: 0px -5px 0px 0px rgba(255, 255, 255, 1);
    background-color: rgba(0, 203, 246, 1);
    cursor: pointer;
}
/*
options class zone--------------------------------------
*/
.options_container{
    display: flex;
    height: 377px;
    justify-content: center;
    padding-top: 5px;
}
.options_container div{
    width: 482px;
    height: 377px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.options_container p{
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}
.options_container div:nth-child(2n+1){
    background-color: rgba(28, 42, 51, 1);
}
.options_container div:nth-child(2n){
    background-color: rgba(24, 207, 171, 1);
}
.options_container div:nth-child(2n+1) > p{
    color: rgba(24, 207, 171, 1);
}
/*
service class zone--------------------------------------
*/
.service_container{
    height: 550px;
}
.service_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service_content h2{
    color: #4E4E4E;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    padding-top: 83px;
    padding-bottom: 24px;
}
.servise_menu_container ul{
    display: flex;
    gap: 0;
    padding-top: 67px;
}
.servise_menu_btn{
    position: relative;
    width: 195px;
    height: 76px;
    border: none;
    border: 1px solid #EDEFEF;
    background: #F8FCFE;
    color: #717171;
    text-align: center;
    font-family: Montserrat;
    font-size: 15.986px;
    font-style: normal;
    font-weight: 400;
}
.servise_menu_container ul button:hover{
    border: 1px solid rgba(24, 207, 171, 1);
}
.servise_menu_content{
    padding-top: 27px;
}
.service_text_content{
    display: none;
    gap: 15px;
}
.servise_menu_content div p {
    width: 952px;
    height: 136px;
    color: #777;
    font-family: Montserrat;
    font-size: 13.645px;
    font-style: normal;
    font-weight: 300;
}
.servise_menu_content div img{
    width: 192px;
    height: 139px;
}
.service_active{
    display: flex;
}
.service_active_btn{
    background-color: rgba(24, 207, 171, 1);
}
.decorativeTriangle{
    position: absolute;
    top: 73px;
    right: 84px;
}
/* eReady class zone-------------------------------------- */
.eReady_container{
    margin: 0 auto;
    width: 1920px;
    height: 476px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/images/Layer\ 21\ 1.png);
}
.eReady_title{
    color: #18CFAB;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}
.eReady_paragraph{
    color: #D8D8D8;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 67px;
}
.eReady_btn{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    width: 169px;
    height: 63px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px -5px 0px 0px rgba(255, 255, 255, 1);
    background-color: rgba(24, 207, 171, 1);
    cursor: pointer;
}
/* ourAmazing class zone-------------------------------------- */
.ourAmazing_container{
    background-color: rgba(233, 237, 239, 1);
}
.ourAmazing_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ourA-title{
    padding-top: 95px;
    padding-bottom: 20px;
    color: #4E4E4E;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
}
.ourAmazing_menu{
    padding-top: 69px;
    display: flex;
    height: 58px;
    box-sizing: border-box;   
    gap: 0;
    padding-bottom: 100px;
}
.ourAmazing_btn{
    color: #717171;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 400;
    border: none;
    border: 1px solid #DADADA;
    padding: 25px;
    background: none;
    margin: 0;
}
.ourAmazing_btn:hover{
    color: #18CFAB;
    border: 2px solid #18CFAB;
}
.oa_active{
    color: #18CFAB;
    border: 2px solid #18CFAB;
}
.ourAmazing_imgList{
    display: flex;
    max-width: 1140px;
    flex-wrap: wrap;
    padding-bottom: 92px;
}
.oa_card{
    width: 285px;
    height: 211px;
    background-size: cover;
}
.load_more{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 168px;
    height: 63px;
    background-color: rgba(24, 207, 171, 1);
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 99px;
    cursor: pointer;
}
/* Breaking News class zone-------------------------------------- */
.breakingNews_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.breakingNews_title{
    padding-top: 82px;
    padding-bottom: 24px;
    color: #4E4E4E;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
}
.breakingNews_deck{
    padding-top: 68px;
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    padding-bottom: 131px;
}
.card{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 265px;
    height: 281px;
    cursor: pointer;
}
.card_date{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #203E38;
    width: 70px;
    height: 68px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card_bg_zone{
    height: 208px;
}
.card_txt_zone{
    height: 73px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: start;
    padding-left: 20px;
}
.card_txt_zone_title{
    color: #777;
    text-align: center;
    font-family: Montserrat;
    font-size: 17.988px;
    font-style: normal;
    font-weight: 700;
}
.card_txt_info{
    display: flex;
    gap: 20px;
}
.card_txt_info a {
    color: #777;
    text-align: center;
    font-family: Montserrat;
    font-size: 13.991px;
    font-style: normal;
    font-weight: 300;
    text-decoration: none;
}
.creatorName::after {
    position: absolute;
    content: '|'; 
    margin: 0 5px; 
    color: #777; 
}
.card:hover > .card_bg_zone .card_date{
    background-color: #18CFAB;
}
.card:hover > .card_txt_zone .card_txt_zone_title{
    color: #18CFAB;
}
/* What Peaple class zone-------------------------------------- */
.whatPeaple_container{
    background-image: url('/images/Layer\ 333.png');
    height: 853px;
    width: 1920px;
    margin: 0 auto;
}
.whatPeaple_content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.whatPeapleSvg{
    padding-bottom: 68px;
}
.whatPeapleSvg2{
    margin: 0 auto;
}
.whatPeaple_title{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    padding-top: 98px;
    padding-bottom: 35px;
}
.whatPeaple_content_txt{
    display: flex;
    width: 1160px;
    height: 45px;
    flex-direction: column;
    justify-content: center;
    color: #BBB;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    padding:37px 0;
}
.peaple_nameAndProf{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    height: 42px;
}
.peaple_name{
    color: #18CFAB;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}
.peaple_prof{
    color: #BBB;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
}
.peaple_avatar{
    pointer-events: none;
    width: 143px;
    height: 142px;
    border-radius: 50%;
    border: 10px solid rgba(24, 207, 171, 0.2);
    display: flex;
    margin: 0 auto;
    margin-top: 38px;
    margin-bottom: 51px;
}
.peaple_menu{
    display: flex;
    gap: 35px;
    align-items: center;
}
.peaple_menu img{
    pointer-events: none;
    border-radius: 50%;
    border: 6px solid rgba(24, 207, 171, 0.2);
}
.peapleMenu_btn{
    width: 31px;
    height: 31px;
    cursor: pointer;
}
.peapleMenu_btn:hover{
    background-color: #18CFAB;
    stroke: none; 
    opacity: 1;
    fill: white;
}
.peaple_menu button{
    background: none;
    border: none;
    display: flex;
    flex: 0 0 auto;
}
.peapleMenu_active{
    margin-bottom: 25px;
}
/* galery class zone-------------------------------------- */
.galery_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 108px;
}
.galery_title{
    color: #4E4E4E;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
}
.galerySvg{
    padding-bottom: 83px;
    padding-top: 24px;
}
.galery_grid{
    display: grid;
    grid-template-columns: repeat(2, 378px) 368px;
    grid-template-rows: 263px 117px 73px 93px 101px 209px 65px;
    grid-column-gap: 21px;
    grid-row-gap: 21px;
    padding-bottom: 52px;
}
.cell{
    background-repeat: no-repeat;
    background-size: cover;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2; 
    background-image: url('/images/Gallery of best images/1.png');
}
.div2 {
    grid-area: 1 / 2 / 3 / 3; 
    background-image: url('/images/Gallery of best images/2.png');
}
.div3 {
    grid-area: 1 / 3 / 4 / 4; }
.div4 {
    grid-area: 2 / 1 / 5 / 2; 
    background-image: url('/images/Gallery of best images/4.png');
}
.div5 {
    grid-area: 3 / 2 / 6 / 3; 
    background-image: url('/images/Gallery of best images/5.png');
}
.div6 {
    grid-area: 5 / 1 / 7 / 2; 
    background-image: url('/images/Gallery of best images/7.png');
}
.div7 {
    grid-area: 4 / 3 / 7 / 4; 
    background-image: url('/images/Gallery of best images/6.png')
}
.div8 {
    grid-area: 6 / 2 / 8 / 3;
    background-image: url('/images/Gallery of best images/8.png')
}

.div3{
    display: grid;
    grid-template-columns: 123px repeat(2, 58px) 123px;
    grid-template-rows: 177px repeat(3, 101px);
    grid-column-gap: 3px;
    grid-row-gap: 4px;    
}
.div9 { grid-area: 1 / 1 / 2 / 3; background-image: url('/images/Gallery of best images/9.png')}
.div10 { grid-area: 1 / 3 / 2 / 5; background-image: url('/images/Gallery of best images/10.png')}
.div11 { grid-area: 2 / 1 / 3 / 2; background-image: url('/images/Gallery of best images/11.png')}
.div12 { grid-area: 2 / 2 / 3 / 4; background-image: url('/images/Gallery of best images/12.png')}
.div13 { grid-area: 2 / 4 / 3 / 5; background-image: url('/images/Gallery of best images/13.png')}
.div14 { grid-area: 3 / 1 / 4 / 2; background-image: url('/images/Gallery of best images/14.png')}
.div15 { grid-area: 3 / 2 / 4 / 4; background-image: url('/images/Gallery of best images/15.png')}
.div16 { grid-area: 3 / 4 / 4 / 5;background-image: url('/images/Gallery of best images/16.png')}
.div17 { grid-area: 4 / 1 / 5 / 2; background-image: url('/images/Gallery of best images/17.png')}
.div18 { grid-area: 4 / 2 / 5 / 4; background-image: url('/images/Gallery of best images/18.png')}
.div19 { grid-area: 4 / 4 / 5 / 5; background-image: url('/images/Gallery of best images/19.png')}

.footer_container{
    height: 121px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22353F;
}
.footer_txt{
    display: flex;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    color: #AEAEAE;
    gap: 5px;
}
.ham_txt{
    color: #18CFAB;
}
